main{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "main-header main-header"
    "first-column second-column"
    "main-footer main-footer";
  grid-gap: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

#main-header{
  grid-area: main-header;
  text-align: center;
  padding: 1em;
  background:aquamarine;
}

h1{
  color: blueviolet;
}

#main-input{
  grid-area: first-column;
  padding: 1em;
  background: cornsilk;
}

#main-output{
  grid-area: second-column;
  padding: 1em;
  background: cornsilk;
}

#main-footer{
  grid-area: main-footer;
  text-align: center;
  padding: 1em;
  background: aquamarine;
  color: blueviolet;
}

